@font-face {
    font-family: 'b612regular';
    src: url('b612/b612-regular-webfont.woff2') format('woff2'),
         url('b612/b612-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}